SUBSYSTEM=="block", ACTION=="add", ENV{ID_TYPE}=="disk", ENV{DEVTYPE}=="disk", PROGRAM="/usr/bin/systemd-escape -p --template=hdparmify@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
